.Trackrecord-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url("../../images/bg-2.jpg");
    background-size: auto; /* Optional: adjuts the image size to cover the div */
    background-position: center; /* Optional: centers the image in the div */
    background-repeat: repeat; 
    color: white;
    height: 100vh;
}

.chart-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.Trackrecord-individual-container{
    background-color: black;
}