.App {
  text-align: center;
  background-color: black;
  background-image: url("images/bg-2.jpg");
  background-size: auto; /* Optional: adjuts the image size to cover the div */
  background-position: center; /* Optional: centers the image in the div */
  background-repeat: repeat; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: "OpenSans";
}

@font-face {
  font-family: 'BebasNeue';
  src: url(./fonts/BebasNeue-Regular.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans-Regular.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans-Regular.ttf);
  font-weight: lighter;
  font-style: normal;
}